@import "fonts";
@import "colors";

body {
  margin: 0
}

*, * > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#app {
  font-family: "Nunito", sans-serif;
  color: $black;
}
